<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name="keywords" content="EMall网上商城">
    <meta name="description" content="EMall网上商城">
    <title>修改密码 - EMall</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/password.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/password.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
</head>
<body>
<div class="nav">
    <div class="w">
        <div class="user-info">
            <span class="user login">
                <span class="link-text"> 欢迎 <span class="username">${user.getuName()}，</span> </span>
                <span class="link js-logout" id="exit">退出</span>
            </span>
        </div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="">购物车(<span class="cart-count">0</span>)</a>
            </li>
            <li class="nav-item">
                <a class="link" href="">我的订单</a>
            </li>
            <li class="nav-item">
                <a class="link" href="${pageContext.request.contextPath}/views/back/user/userCenter.jsp">我的EMall</a>
            </li>
        </ul>
    </div>
</div>
<div class="header">
    <div class="w">
        <a class="logo" href="/index">EMall</a>
        <div class="search-con">
            <form action="${pageContext.request.contextPath}/goods/keyWord" method="post">
                <input class="search-input" name="keyWord" id="search-input" placeholder="请输入商品名称" />
                <input type="submit" id="search-btn" class="btn search-btn" value="搜索"/>
            </form>
        </div>
    </div>
</div>
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="/index">EMall</a>
            <span>></span>
            <span class="link-text">修改密码</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <ul class="nav-side">
        <li class="nav-item active">
            <a class="link" href="${pageContext.request.contextPath}/views/back/user/userCenter.jsp">个人中心</a>
        </li>
        <li class="nav-item">
            <a class="link" href="">我的订单</a> </li>
        <li class="nav-item">
            <a class="link" href="">修改密码</a>
        </li>
    </ul>
    <div class="content with-nav">
        <div class="panel">
            <div class="panel-title">修改密码</div>
            <div class="panel-body">
                <div class="user-info">
                    <span class="password-error">
                        <p class="err-msg">Error</p>
                    </span>
                    <div class="form-line">
                        <span class="label">原密码：</span>
                        <input type="hidden" id="passwordReal" value="${user.getuPassword()}">
                        <input type="password" class="input" id="passwordOld" autocomplete="off">
                    </div>
                    <div class="form-line">
                        <span class="label">新密码：</span>
                        <input type="password" class="input" id="passwordNew" autocomplete="off">
                    </div>
                    <div class="form-line">
                        <span class="label">确认密码：</span>
                        <input type="password" class="input" id="pwdConfirm" autocomplete="off">
                    </div>
                    <span class="btn btn-submit" id="submit">提交</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="w">
        <div class=links>EMall网上商城</div>
    </div>
</div>
</body>
</html>
