<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.CategoryMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.Category">
		<id column="category_id" jdbcType="VARCHAR" property="categoryId"/>
		<result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		category_id, category_name
	</sql>
	
	<select id="count" resultType="java.lang.Long">
		select count(1)
		from category
	</select>
	
	<select id="queryAll" resultMap="BaseResultMap">
		select category_id, category_name
		from category c
		order by category_id
	</select>
	
	<select id="adminQueryAll" resultMap="BaseResultMap">
		select c.category_id, c.category_name
		from category c
				 inner join (select category_id from category order by category_id limit #{limit} offset #{offset}) ids
							on c.category_id = ids.category_id
	</select>
	
	<select id="isExistByName" parameterType="java.lang.String" resultType="java.lang.Boolean">
		select count(1)
		from category
		where category_name = #{categoryName,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List"/>
		from category
		where category_id = #{categoryId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByCategoryId" parameterType="java.lang.String">
		delete
		from category
		where category_id = #{categoryId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.Category">
		insert into category (category_id, category_name)
		values (#{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.emall.entity.Category">
		update category
		set category_name = #{categoryName,jdbcType=VARCHAR}
		where category_id = #{categoryId,jdbcType=VARCHAR}
	</update>
</mapper>