<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.OrderMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.Order">
		<id column="order_id" jdbcType="VARCHAR" property="orderId"/>
		<result column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="order_payment" jdbcType="VARCHAR" property="orderPayment"/>
		<result column="order_status" jdbcType="VARCHAR" property="orderStatus"/>
		<result column="order_create_time" jdbcType="TIMESTAMP" property="orderCreateTime"/>
		<result column="order_payment_time" jdbcType="TIMESTAMP" property="orderPaymentTime"/>
		<result column="order_send_time" jdbcType="TIMESTAMP" property="orderSendTime"/>
		<result column="order_end_time" jdbcType="TIMESTAMP" property="orderEndTime"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		order_id, user_id, order_payment, order_status, order_create_time, order_payment_time, order_send_time, order_end_time
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from `order`
		where order_id = #{orderId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from `order`
		where order_id = #{orderId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.Order">
		insert into `order` (order_id, user_id, order_payment, order_status, order_create_time, order_payment_time,
							 order_send_time, order_end_time)
		values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orderPayment,jdbcType=VARCHAR},
				#{orderStatus,jdbcType=VARCHAR}, #{orderCreateTime,jdbcType=TIMESTAMP},
				#{orderPaymentTime,jdbcType=TIMESTAMP},
				#{orderSendTime,jdbcType=TIMESTAMP}, #{orderEndTime,jdbcType=TIMESTAMP})
  </insert>
	
	<update id="updateByPrimaryKey" parameterType="com.emall.entity.Order">
		update `order`
		set user_id            = #{userId,jdbcType=VARCHAR},
			order_payment      = #{orderPayment,jdbcType=VARCHAR},
			order_status       = #{orderStatus,jdbcType=VARCHAR},
			order_create_time  = #{orderCreateTime,jdbcType=TIMESTAMP},
			order_payment_time = #{orderPaymentTime,jdbcType=TIMESTAMP},
			order_send_time    = #{orderSendTime,jdbcType=TIMESTAMP},
			order_end_time     = #{orderEndTime,jdbcType=TIMESTAMP}
		where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>