<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.OrderItemMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.OrderItem">
		<id column="order_item_id" jdbcType="VARCHAR" property="orderItemId"/>
		<result column="order_id" jdbcType="VARCHAR" property="orderId"/>
		<result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
		<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
		<result column="goods_image" jdbcType="VARCHAR" property="goodsImage"/>
		<result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
		<result column="goods_count" jdbcType="VARCHAR" property="goodsCount"/>
		<result column="order_item_subtotal" jdbcType="DECIMAL" property="orderItemSubtotal"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		order_item_id, order_id, goods_id, goods_name, goods_image, goods_price, goods_count, order_item_subtotal
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from order_item
		where order_item_id = #{orderItemId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from order_item
		where order_item_id = #{orderItemId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.OrderItem">
		insert into order_item (order_item_id, order_id, goods_id, goods_name, goods_image, goods_price, goods_count,
								order_item_subtotal)
		values (#{orderItemId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR},
				#{goodsName,jdbcType=VARCHAR}, #{goodsImage,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL},
				#{goodsCount,jdbcType=VARCHAR}, #{orderItemSubtotal,jdbcType=DECIMAL})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.emall.entity.OrderItem">
		update order_item
		set order_id            = #{orderId,jdbcType=VARCHAR},
			goods_id            = #{goodsId,jdbcType=VARCHAR},
			goods_name          = #{goodsName,jdbcType=VARCHAR},
			goods_image         = #{goodsImage,jdbcType=VARCHAR},
			goods_price         = #{goodsPrice,jdbcType=DECIMAL},
			goods_count         = #{goodsCount,jdbcType=VARCHAR},
			order_item_subtotal = #{orderItemSubtotal,jdbcType=DECIMAL}
		where order_item_id = #{orderItemId,jdbcType=VARCHAR}
  </update>
</mapper>