<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.emall.entity.Role">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
    <result column="r_perm" jdbcType="VARCHAR" property="rPerm" />
  </resultMap>

  <sql id="Base_Column_List">
    r_id, r_name, r_perm
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where r_id = #{rId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.emall.entity.Role">
    insert into role (r_id, r_name, r_perm)
    values (#{rId,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR}, #{rPerm,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.emall.entity.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="rName != null">
        r_name,
      </if>
      <if test="rPerm != null">
        r_perm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null">
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rPerm != null">
        #{rPerm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.emall.entity.Role">
    update role
    <set>
      <if test="rName != null">
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rPerm != null">
        r_perm = #{rPerm,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.emall.entity.Role">
    update role
    set r_name = #{rName,jdbcType=VARCHAR},
      r_perm = #{rPerm,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>