<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.SeckillGoodsMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.SeckillGoods">
		<id column="seckill_goods_id" jdbcType="VARCHAR" property="seckillGoodsId"/>
		<result column="seckill_goods_name" jdbcType="VARCHAR" property="seckillGoodsName"/>
		<result column="category_id" jdbcType="VARCHAR" property="categoryId"/>
		<result column="seckill_goods_describe" jdbcType="VARCHAR" property="seckillGoodsDescribe"/>
		<result column="seckill_goods_stock" jdbcType="INTEGER" property="seckillGoodsStock"/>
		<result column="seckill_goods_price" jdbcType="DECIMAL" property="seckillGoodsPrice"/>
		<result column="seckill_goods_image" jdbcType="VARCHAR" property="seckillGoodsImage"/>
		<result column="seckill_goods_details" jdbcType="VARCHAR" property="seckillGoodsDetails"/>
		<result column="seckill_goods_start_time" jdbcType="TIMESTAMP" property="seckillGoodsStartTime"/>
		<result column="seckill_goods_end_time" jdbcType="TIMESTAMP" property="seckillGoodsEndTime"/>
		<result column="seckill_goods_status" jdbcType="INTEGER" property="seckillGoodsStatus"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		seckill_goods_id, seckill_goods_name, category_id, seckill_goods_describe, seckill_goods_stock,
		seckill_goods_price, seckill_goods_image, seckill_goods_details, seckill_goods_start_time,
		seckill_goods_end_time, seckill_goods_status
	</sql>

	<select id="countOnShelf" resultType="java.lang.Integer">
		select count(1)
		from seckill_goods
		where seckill_goods_status != 0
		  and seckill_goods_status != 3
	</select>

	<select id="count" resultType="java.lang.Integer">
		select count(1)
		from seckill_goods
	</select>
	
	<select id="queryAllOnShelf" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from seckill_goods s
		where seckill_goods_status != 0 and seckill_goods_status != 3
	</select>
	
	<select id="queryAll" resultMap="BaseResultMap">
		select s.seckill_goods_id,
			   s.seckill_goods_name,
			   s.category_id,
			   s.seckill_goods_describe,
			   s.seckill_goods_price,
			   s.seckill_goods_stock,
			   s.seckill_goods_image,
			   s.seckill_goods_details,
			   s.seckill_goods_start_time,
			   s.seckill_goods_end_time,
			   s.seckill_goods_status
		from seckill_goods s
		inner join (select seckill_goods_id from seckill_goods order by seckill_goods_id limit #{limit} offset #{offset}) ids
		on s.seckill_goods_id = ids.seckill_goods_id
	</select>
	
	<select id="selectBySeckillGoodsId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from seckill_goods
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteBySeckillGoodsId" parameterType="java.lang.String">
		delete
		from seckill_goods
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.Goods">
		insert into seckill_goods (seckill_goods_id, seckill_goods_name, category_id,
								   seckill_goods_describe, seckill_goods_stock, seckill_goods_price,
								   seckill_goods_image, seckill_goods_details, seckill_goods_status)
		values (#{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR},
				#{goodsDescribe,jdbcType=VARCHAR}, #{goodsStock,jdbcType=INTEGER},
				#{goodsPrice,jdbcType=DECIMAL}, #{goodsImage,jdbcType=VARCHAR},
				#{goodsDetails,jdbcType=VARCHAR}, #{goodsStatus,jdbcType=INTEGER})
	</insert>
	
	<insert id="insertSelective" parameterType="com.emall.entity.SeckillGoods">
		insert into seckill_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
		  <if test="seckillGoodsId != null">
			seckill_goods_id,
		  </if>
		  <if test="seckillGoodsName != null">
			seckill_goods_name,
		  </if>
		  <if test="categoryId != null">
		  	category_id,
		  </if>
		  <if test="seckillGoodsDescribe != null">
			seckill_goods_describe,
		  </if>
		  <if test="seckillGoodsStock != null">
			seckill_goods_stock,
		  </if>
		  <if test="seckillGoodsPrice != null">
			seckill_goods_price,
		  </if>
		  <if test="seckillGoodsImage != null">
			seckill_goods_image,
		  </if>
		  <if test="seckillGoodsDetails != null">
			seckill_goods_details,
		  </if>
		  <if test="seckillGoodsStartTime != null">
			seckill_goods_start_time,
		  </if>
		  <if test="seckillGoodsEndTime != null">
			seckill_goods_end_time,
		  </if>
		  <if test="seckillGoodsStatus != null">
			seckill_goods_status,
		  </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		  <if test="seckillGoodsId != null">
			#{seckillGoodsId,jdbcType=VARCHAR},
		  </if>
		  <if test="seckillGoodsName != null">
			#{seckillGoodsName,jdbcType=VARCHAR},
		  </if>
		  <if test="categoryId != null">
		  	#{categoryId,jdbcType=VARCHAR},
		  </if>
		  <if test="seckillGoodsDescribe != null">
			#{seckillGoodsDescribe,jdbcType=VARCHAR},
		  </if>
		  <if test="seckillGoodsStock != null">
			#{seckillGoodsStock,jdbcType=INTEGER},
		  </if>
		  <if test="seckillGoodsPrice != null">
			#{seckillGoodsPrice,jdbcType=DECIMAL},
		  </if>
		  <if test="seckillGoodsImage != null">
			#{seckillGoodsImage,jdbcType=VARCHAR},
		  </if>
		  <if test="seckillGoodsDetails != null">
			#{seckillGoodsDetails,jdbcType=VARCHAR},
		  </if>
		  <if test="seckillGoodsStartTime != null">
			#{seckillGoodsStartTime,jdbcType=TIMESTAMP},
		  </if>
		  <if test="seckillGoodsEndTime != null">
			#{seckillGoodsEndTime,jdbcType=TIMESTAMP},
		  </if>
		  <if test="seckillGoodsStatus != null">
			  #{seckillGoodsStatus,jdbcType=INTEGER},
		  </if>
		</trim>
  	</insert>
	
	<update id="update" parameterType="com.emall.entity.SeckillGoods">
		update seckill_goods
		set seckill_goods_name       = #{seckillGoodsName,jdbcType=VARCHAR},
			category_id              = #{categoryId,jdbcType=VARCHAR},
			seckill_goods_describe   = #{seckillGoodsDescribe,jdbcType=VARCHAR},
			seckill_goods_stock      = #{seckillGoodsStock,jdbcType=INTEGER},
			seckill_goods_price      = #{seckillGoodsPrice,jdbcType=DECIMAL},
			seckill_goods_image      = #{seckillGoodsImage,jdbcType=VARCHAR},
			seckill_goods_details    = #{seckillGoodsDetails,jdbcType=VARCHAR},
			seckill_goods_start_time = #{seckillGoodsStartTime,jdbcType=TIMESTAMP},
			seckill_goods_end_time   = #{seckillGoodsEndTime,jdbcType=TIMESTAMP},
			seckill_goods_status     = #{seckillGoodsStatus,jdbcType=INTEGER}
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</update>
	
	<update id="pull" parameterType="java.lang.String">
		update seckill_goods
		set seckill_goods_status = 0
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</update>

	<update id="put">
		update seckill_goods
		set seckill_goods_start_time = #{startTime,jdbcType=TIMESTAMP},
		 	seckill_goods_end_time = #{endTime,jdbcType=TIMESTAMP},
		 	seckill_goods_status = 1
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</update>
	
	<update id="changeStatus">
		update seckill_goods
		set seckill_goods_status = #{complete,jdbcType=INTEGER}
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</update>
	
	<update id="reduceStock">
		update seckill_goods
		set seckill_goods_stock = seckill_goods_stock - 1
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
		  and seckill_goods_stock > 0;
	</update>
</mapper>