<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.SeckillGoodsMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.SeckillGoods">
		<id column="seckill_goods_id" jdbcType="VARCHAR" property="seckillGoodsId"/>
		<result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
		<result column="seckill_goods_name" jdbcType="VARCHAR" property="seckillGoodsName"/>
		<result column="seckill_goods_describe" jdbcType="VARCHAR" property="seckillGoodsDescribe"/>
		<result column="seckill_goods_stock" jdbcType="INTEGER" property="seckillGoodsStock"/>
		<result column="seckill_goods_price" jdbcType="DECIMAL" property="seckillGoodsPrice"/>
		<result column="seckill_goods_image" jdbcType="VARCHAR" property="seckillGoodsImage"/>
		<result column="seckill_goods_details" jdbcType="VARCHAR" property="seckillGoodsDetails"/>
		<result column="seckill_goods_start_time" jdbcType="TIMESTAMP" property="seckillGoodsStartTime"/>
		<result column="seckill_goods_end_time" jdbcType="TIMESTAMP" property="seckillGoodsEndTime"/>
		<result column="seckill_goods_status" jdbcType="VARCHAR" property="seckillGoodsStatus"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		seckill_goods_id, goods_id, seckill_goods_name, seckill_goods_describe, seckill_goods_stock,
    	seckill_goods_price, seckill_goods_image, seckill_goods_details, seckill_goods_start_time,
    	seckill_goods_end_time, seckill_goods_status
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from seckill_goods
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from seckill_goods
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.SeckillGoods">
		insert into seckill_goods (seckill_goods_id, goods_id, seckill_goods_name, seckill_goods_describe,
								   seckill_goods_stock,
								   seckill_goods_price, seckill_goods_image, seckill_goods_details,
								   seckill_goods_start_time, seckill_goods_end_time, seckill_goods_status)
		values (#{seckillGoodsId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{seckillGoodsName,jdbcType=VARCHAR},
				#{seckillGoodsDescribe,jdbcType=VARCHAR}, #{seckillGoodsStock,jdbcType=INTEGER},
				#{seckillGoodsPrice,jdbcType=DECIMAL}, #{seckillGoodsImage,jdbcType=VARCHAR},
				#{seckillGoodsDetails,jdbcType=VARCHAR},
				#{seckillGoodsStartTime,jdbcType=TIMESTAMP}, #{seckillGoodsEndTime,jdbcType=TIMESTAMP},
				#{seckillGoodsStatus,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.emall.entity.SeckillGoods">
		update seckill_goods
		<set>
			<if test="goodsId != null">
				goods_id = #{goodsId,jdbcType=VARCHAR},
			</if>
			<if test="seckillGoodsName != null">
				seckill_goods_name = #{seckillGoodsName,jdbcType=VARCHAR},
			</if>
			<if test="seckillGoodsDescribe != null">
				seckill_goods_describe = #{seckillGoodsDescribe,jdbcType=VARCHAR},
			</if>
			<if test="seckillGoodsStock != null">
				seckill_goods_stock = #{seckillGoodsStock,jdbcType=INTEGER},
			</if>
			<if test="seckillGoodsPrice != null">
				seckill_goods_price = #{seckillGoodsPrice,jdbcType=DECIMAL},
			</if>
			<if test="seckillGoodsImage != null">
				seckill_goods_image = #{seckillGoodsImage,jdbcType=VARCHAR},
			</if>
			<if test="seckillGoodsDetails != null">
				seckill_goods_details = #{seckillGoodsDetails,jdbcType=VARCHAR},
			</if>
			<if test="seckillGoodsStartTime != null">
				seckill_goods_start_time = #{seckillGoodsStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="seckillGoodsEndTime != null">
				seckill_goods_end_time = #{seckillGoodsEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="seckillGoodsStatus != null">
				seckill_goods_status = #{seckillGoodsStatus,jdbcType=VARCHAR},
			</if>
		</set>
		where seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
	</update>
</mapper>