<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.SeckillOrderMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.SeckillOrder">
		<id column="seckill_order_id" jdbcType="VARCHAR" property="seckillOrderId"/>
		<result column="order_id" jdbcType="VARCHAR" property="orderId"/>
		<result column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="seckill_goods_id" jdbcType="VARCHAR" property="seckillGoodsId"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		seckill_order_id, order_id, user_id, seckill_goods_id
	</sql>
	
	<select id="selectBySeckillOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from seckill_order
		where seckill_order_id = #{seckillOrderId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from seckill_order
		where seckill_order_id = #{seckillOrderId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.SeckillOrder">
		insert into seckill_order (seckill_order_id, order_id, user_id, seckill_goods_id)
		values (#{seckillOrderId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
				#{seckillGoodsId,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.emall.entity.SeckillOrder">
		update seckill_order
		set order_id         = #{orderId,jdbcType=VARCHAR},
			user_id          = #{userId,jdbcType=VARCHAR},
			seckill_goods_id = #{seckillGoodsId,jdbcType=VARCHAR}
		where seckill_order_id = #{seckillOrderId,jdbcType=VARCHAR}
	</update>
</mapper>