<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.ShippingMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.Shipping">
		<id column="shipping_id" jdbcType="VARCHAR" property="shippingId"/>
		<result column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="shipping_name" jdbcType="VARCHAR" property="shippingName"/>
		<result column="shipping_mobile_number" jdbcType="VARCHAR" property="shippingMobileNumber"/>
		<result column="shipping_address" jdbcType="VARCHAR" property="shippingAddress"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		shipping_id, user_id, shipping_name, shipping_mobile_number, shipping_address
	</sql>
	
	<select id="queryAll" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from shipping
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByShippingId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from shipping
		where shipping_id = #{shippingId,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByShippingId" parameterType="java.lang.String">
		delete
		from shipping
		where shipping_id = #{shippingId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.Shipping">
		insert into shipping (shipping_id, user_id, shipping_name, shipping_mobile_number, shipping_address)
		values (#{shippingId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{shippingName,jdbcType=VARCHAR},
				#{shippingMobileNumber,jdbcType=VARCHAR}, #{shippingAddress,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="com.emall.entity.Shipping">
		update shipping
		set shipping_name          = #{shippingName,jdbcType=VARCHAR},
			shipping_mobile_number = #{shippingMobileNumber,jdbcType=VARCHAR},
			shipping_address       = #{shippingAddress,jdbcType=VARCHAR}
		where shipping_id = #{shippingId,jdbcType=VARCHAR}
	</update>
</mapper>