<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.emall.entity.User">
		<id column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
		<result column="user_sex" jdbcType="INTEGER" property="userSex"/>
		<result column="user_mobile_number" jdbcType="VARCHAR" property="userMobileNumber"/>
		<result column="user_role" jdbcType="INTEGER" property="userRole"/>
		<result column="user_salt" jdbcType="VARCHAR" property="userSalt"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		user_id, user_name, user_password, user_sex, user_mobile_number, user_role, user_salt
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user
		where user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	
	<select id="isExistByName" parameterType="java.lang.String" resultType="java.lang.Boolean">
		select count(1)
		from user
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete
		from user
		where user_id = #{userId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.emall.entity.User">
		insert into user (user_id, user_name, user_password, user_sex, user_mobile_number, user_role, user_salt)
		values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
				#{userSex,jdbcType=INTEGER}, #{userMobileNumber,jdbcType=VARCHAR}, #{userRole,jdbcType=INTEGER},
				#{userSalt,jdbcType=VARCHAR})
	</insert>
	
	<update id="updateByUserId" parameterType="com.emall.vo.UserUpdateVo">
		update user
		set user_name          = #{userName,jdbcType=VARCHAR},
			user_sex           = #{userSex,jdbcType=INTEGER},
			user_mobile_number = #{userMobileNumber,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=VARCHAR}
	</update>
	
	<update id="pwdById" parameterType="com.emall.vo.PasswordVo">
		update user
		set user_password = #{passwordNew,jdbcType=VARCHAR}
		where user_id = #{userId,jdbcType=VARCHAR}
	</update>
</mapper>