<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.emall.entity.User">
      <id column="u_id" jdbcType="VARCHAR" property="uId"/>
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_sex" jdbcType="INTEGER" property="uSex" />
    <result column="u_mobile_number" jdbcType="VARCHAR" property="uMobileNumber" />
    <result column="u_role" jdbcType="INTEGER" property="uRole" />
    <result column="u_salt" jdbcType="VARCHAR" property="uSalt" />
  </resultMap>

  <sql id="Base_Column_List">
    u_id, u_name, u_password, u_sex, u_mobile_number, u_role, u_salt
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
        where u_id = #{uId,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where u_name = #{uName,jdbcType=VARCHAR}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user
        where u_id = #{uId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.emall.entity.User">
      insert into user (u_id, u_name, u_password, u_sex, u_mobile_number, u_role, u_salt)
      values (#{uId,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR},
              #{uSex,jdbcType=INTEGER}, #{uMobileNumber,jdbcType=VARCHAR}, #{uRole,jdbcType=INTEGER},
              #{uSalt,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.emall.vo.UserUpdateVo">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uMobileNumber != null">
        u_mobile_number,
      </if>
      <if test="uRole != null">
        u_role,
      </if>
      <if test="uSalt != null">
        u_salt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
          #{uId,jdbcType=VARCHAR},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=INTEGER},
      </if>
      <if test="uMobileNumber != null">
        #{uMobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="uRole != null">
        #{uRole,jdbcType=INTEGER},
      </if>
      <if test="uSalt != null">
        #{uSalt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByUserId" parameterType="com.emall.vo.UserUpdateVo">
      update user
      set u_name = #{uName,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=INTEGER},
      u_mobile_number = #{uMobileNumber,jdbcType=VARCHAR}
      where u_id = #{uId,jdbcType=VARCHAR}
  </update>
</mapper>