<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emall.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.emall.entity.User">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_mobile_number" jdbcType="VARCHAR" property="uMobileNumber" />
    <result column="u_role" jdbcType="VARCHAR" property="uRole" />
  </resultMap>

  <sql id="Base_Column_List">
    u_id, u_name, u_password, u_sex, u_mobile_number, u_role
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>

  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where u_name = #{uName,jdbcType=VARCHAR}
  </select>

  <select id="selectUserOwnedRole" parameterType="java.lang.String" resultType="java.lang.String">
    select
    u_role
    from user
    where u_name = #{uName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.emall.entity.User">
    insert into user (u_id, u_name, u_password, u_sex, u_mobile_number, u_role)
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uSex,jdbcType=VARCHAR}, #{uMobileNumber,jdbcType=VARCHAR}, #{uRole,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.emall.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uMobileNumber != null">
        u_mobile_number,
      </if>
      <if test="uRole != null">
        u_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uMobileNumber != null">
        #{uMobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="uRole != null">
        #{uRole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.emall.entity.User">
    update user
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uMobileNumber != null">
        u_mobile_number = #{uMobileNumber,jdbcType=VARCHAR},
      </if>
      <if test="uRole != null">
        u_role = #{uRole,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.emall.entity.User">
    update user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_mobile_number = #{uMobileNumber,jdbcType=VARCHAR},
      u_role = #{uRole,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>