* {
    margin: 0;
    padding: 0
}

body {
    background: #f6f6f6;
    font: 14px/1.5 tahoma, arial, Microsoft YaHei, sans-serif
}

li {
    list-style: none
}

img {
    display: block;
    border: none
}

input[type=checkbox], label {
    cursor: pointer
}

.w {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden
}

.panel {
    padding: 10px;
    margin-bottom: 10px;
    background: #fff
}

.panel .panel-title {
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    border-bottom: 1px solid #eee
}

.panel .panel-body {
    padding: 10px;
    overflow: hidden
}

.hide {
    display: none
}

.link {
    color: #999;
    cursor: pointer;
    text-decoration: none
}

.link:hover {
    color: #e80012
}

.link-text {
    color: #999
}

.btn, .link-text {
    text-decoration: none
}

.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer
}

.btn-mini {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

:root .fa-flip-horizontal, :root .fa-flip-vertical, :root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270 {
    filter: none
}

.footer {
    margin-top: 20px;
    padding-bottom: 10px
}

.footer .links {
    text-align: center;
    color: #666;
    line-height: 30px
}

.footer .links .link {
    padding: 0 10px
}

.footer .copyright {
    text-align: center;
    color: #666;
    line-height: 30px
}