<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">类别管理</h1>
        <div class="page-header-right">
            <a class="btn btn-primary" href="#/product.category/add?id=0&amp;name=undefined">
                <span>添加品类</span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-wrap col-lg-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>品类ID</th>
                <th>品类名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>100001</td>
                <td><span>dawda d</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100001">查看其子品类</a><a
                        href="#/product.category/add?id=100001">添加品类</a></td>
            </tr>
            <tr>
                <td>100002</td>
                <td><span>TEST</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100002">查看其子品类</a><a
                        href="#/product.category/add?id=100002">添加品类</a></td>
            </tr>
            <tr>
                <td>100003</td>
                <td><span>vivo</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100003">查看其子品类</a><a
                        href="#/product.category/add?id=100003">添加品类</a></td>
            </tr>
            <tr>
                <td>100004</td>
                <td><span>apple</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100004">查看其子品类</a><a
                        href="#/product.category/add?id=100004">添加品类</a></td>
            </tr>
            <tr>
                <td>100005</td>
                <td><span>test11</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100005">查看其子品类</a><a
                        href="#/product.category/add?id=100005">添加品类</a></td>
            </tr>
            <tr>
                <td>100053</td>
                <td><span>test22</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100053">查看其子品类</a><a
                        href="#/product.category/add?id=100053">添加品类</a></td>
            </tr>
            <tr>
                <td>100055</td>
                <td><span>test33</span></td>
                <td><a class="opera">修改名称</a><a href="#/product.category/add?id=100055">添加品类</a></td>
            </tr>
            <tr>
                <td>100057</td>
                <td><span>test44</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100057">查看其子品类</a><a
                        href="#/product.category/add?id=100057">添加品类</a></td>
            </tr>
            <tr>
                <td>100059</td>
                <td><span>hhah</span></td>
                <td><a class="opera">修改名称</a><a class="opera" href="#/product.category/index/100059">查看其子品类</a><a
                        href="#/product.category/add?id=100059">添加品类</a></td>
            </tr>
            <tr>
                <td>100063</td>
                <td><span>hhah</span></td>
                <td><a class="opera">修改名称</a><a href="#/product.category/add?id=100063">添加品类</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
