<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="row">
    <div class="col-lg-12"><h1 class="page-header">订单管理</h1></div>
</div>
<div class="row">
    <div class="search-wrap col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <select class="form-control">
                    <option value="orderNumber">按订单号查询</option>
                </select>
            </div>
            <div class="form-group"><input type="text" class="form-control" placeholder="订单号"></div>
            <button type="button" class="btn btn-default">查询</button>
        </div>
    </div>
    <div class="table-wrap col-lg-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>订单号</th>
                <th>收件人</th>
                <th>订单状态</th>
                <th>订单总价</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a class="opear" href="#/order/detail/1491753014256">1491753014256</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4844 -->￥<!-- /react-text --><!-- react-text: 4845 -->13998
                    <!-- /react-text --></td>
                <td>1491753014000</td>
                <td><a class="opear" href="#/order/detail/1491753014256">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1491830695216">1491830695216</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4855 -->￥<!-- /react-text --><!-- react-text: 4856 -->13998
                    <!-- /react-text --></td>
                <td>1491830695000</td>
                <td><a class="opear" href="#/order/detail/1491830695216">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492089528889">1492089528889</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4866 -->￥<!-- /react-text --><!-- react-text: 4867 -->3299
                    <!-- /react-text --></td>
                <td>1492089528000</td>
                <td><a class="opear" href="#/order/detail/1492089528889">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492090946105">1492090946105</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4877 -->￥<!-- /react-text --><!-- react-text: 4878 -->27894
                    <!-- /react-text --></td>
                <td>1492090946000</td>
                <td><a class="opear" href="#/order/detail/1492090946105">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091003128">1492091003128</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4888 -->￥<!-- /react-text --><!-- react-text: 4889 -->8597
                    <!-- /react-text --></td>
                <td>1492091003000</td>
                <td><a class="opear" href="#/order/detail/1492091003128">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091051313">1492091051313</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4899 -->￥<!-- /react-text --><!-- react-text: 4900 -->1999
                    <!-- /react-text --></td>
                <td>1492091051000</td>
                <td><a class="opear" href="#/order/detail/1492091051313">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091061513">1492091061513</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4910 -->￥<!-- /react-text --><!-- react-text: 4911 -->6598
                    <!-- /react-text --></td>
                <td>1492091061000</td>
                <td><a class="opear" href="#/order/detail/1492091061513">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091069563">1492091069563</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4921 -->￥<!-- /react-text --><!-- react-text: 4922 -->3299
                    <!-- /react-text --></td>
                <td>1492091069000</td>
                <td><a class="opear" href="#/order/detail/1492091069563">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091076073">1492091076073</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4932 -->￥<!-- /react-text --><!-- react-text: 4933 -->4299
                    <!-- /react-text --></td>
                <td>1492091076000</td>
                <td><a class="opear" href="#/order/detail/1492091076073">查看</a></td>
            </tr>
            <tr>
                <td><a class="opear" href="#/order/detail/1492091083720">1492091083720</a></td>
                <td></td>
                <td></td>
                <td><!-- react-text: 4943 -->￥<!-- /react-text --><!-- react-text: 4944 -->3299
                    <!-- /react-text --></td>
                <td>1492091083000</td>
                <td><a class="opear" href="#/order/detail/1492091083720">查看</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="rc-pagination " unselectable="unselectable">
        <li title="上一页" class="rc-pagination-disabled rc-pagination-prev" aria-disabled="true"><a
                class="rc-pagination-item-link"></a></li>
        <li title="1" class="rc-pagination-item rc-pagination-item-1 rc-pagination-item-active" tabindex="0">
            <a>1</a></li>
        <li title="2" class="rc-pagination-item rc-pagination-item-2" tabindex="0"><a>2</a></li>
        <li title="3" class="rc-pagination-item rc-pagination-item-3 rc-pagination-item-before-jump-next"
            tabindex="0"><a>3</a></li>
        <li title="向后 3 页" tabindex="0" class="rc-pagination-jump-next"><a class="rc-pagination-item-link"></a></li>
        <li title="58" class="rc-pagination-item rc-pagination-item-58" tabindex="0"><a>58</a></li>
        <li title="下一页" tabindex="0" class=" rc-pagination-next" aria-disabled="false"><a
                class="rc-pagination-item-link"></a></li><!-- react-empty: 4963 --></ul>
</div>
</body>
</html>
