<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name="keywords" content="EMall网上商城">
    <meta name="description" content="EMall网上商城">
    <title>登录页 - EMall</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>
    <script th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
</head>
<body>
<div class="nav-simple">
    <div class="w">
        <a class="logo" th:href="@{/index}">EMall</a>
    </div>
</div>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">用户登录</div>
            <div class="user-box">
                <div class="error-item">
                    <p class="err-msg">Error</p>
                </div>
                <form name="loginForm" id="loginForm" method="post">
                    <div class="user-item">
                        <label class="user-label" for="username">
                            帐号
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off" required="true" autofocus/>
                    </div>
                    <div class="user-item">
                        <label class="user-label" for="password">
                            密码
                        </label>
                        <input type="password" class="user-content" id="password" placeholder="请输入密码" required="true" autocomplete="off"/>
                    </div>
                    <input class="btn btn-submit" id="submit" value="登录" type="submit"/>
                </form>
                <div class="link-item">
                    <a class="link" th:href="@{/user/register}">免费注册</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="w">
        <div class=links>EMall网上商城</div>
    </div>
</div>
</body>
</html>