<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name="keywords" content="EMall网上商城">
    <meta name="description" content="EMall网上商城">
    <title>用户注册 - EMall</title>
    <link rel="shortcut icon" href="${pageContext.request.contextPath}/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="${pageContext.request.contextPath}/images/favicon.ico" type="image/x-icon">
    <link href="${pageContext.request.contextPath}/css/common.css" rel="stylesheet">
    <link href="${pageContext.request.contextPath}/css/register.css" rel="stylesheet">
    <script src="${pageContext.request.contextPath}/js/jquery-3.3.1.js"></script>
    <script src="${pageContext.request.contextPath}/js/register.js"></script>
</head>
<body>
<div class="nav-simple">
    <div class="w">
        <a class="logo" href="${pageContext.request.contextPath}/views/back/index.jsp">EMall</a>
    </div>
</div>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">用户注册</div>
            <div class="user-box">
                <div class="error-item">
                    <p class="err-msg">Error</p>
                </div>
                <div class="user-item">
                    <label class="user-label" for="username">
                        用户名：
                    </label>
                    <input class="user-content" id="username" placeholder="请输入用户名" autocomplete="off" autofocus>
                </div>
                <div class="user-item">
                    <label class="user-label" for="password">
                        密码：
                    </label>
                    <input type="password" class="user-content" id="password" placeholder="请输入密码" autocomplete="off">
                </div>
                <div class="user-item">
                    <label class="user-label" for="pwdConfirm">
                        密码：
                    </label>
                    <input type="password" class="user-content" id="pwdConfirm" placeholder="请再次输入密码" autocomplete="off">
                </div>
                <div class="user-item">
                    <label class="user-label">
                        性别：
                    </label>
                    <input type="radio"  class="sex" name="sex" value="男" checked>男
                    <input type="radio"  class="sex" name="sex" value="女">女
                </div>
                <div class="user-item">
                    <label class="user-label" for="phone">
                        手机号：
                    </label>
                    <input class="user-content" id="phone" placeholder="请输入手机号" autocomplete="off">
                </div>
                <span class="btn btn-submit" id="submit">立即注册</span>
                <div class="link-item">
                    <a class="link" href="${pageContext.request.contextPath}/views/user/login.jsp">已有帐号，去登录>></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="w">
        <div class=links>EMall网上商城</div>
    </div>
</div>
</body>
</html>