.page-wrap {
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
    background: #fff
}

.result-title {
    color: #555
}

.result-content {
    margin-top: 20px
}

.result-content .link {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc
}

.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff
}

.nav-simple .logo {
    font-size: 26px;
    font-weight: 700;
    color: #c60023;
    text-decoration: none
}

.register-success {
    display: none;
}

.pass-reset-success {
    display: none;
}

.cart-add-success {
    display: none;
}

.default-success {
    display: none;
}

.payment-success {
    display: none;
}